.profilepicture img {
  width: 300px;
  height: 300px;
  border-radius: 1%;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  margin-left: 90%;
}
.imgreplace {
  width: 300px;

  border-radius: 1%;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  margin-left: 90%;
  padding-right: 10%;
}
.info {
  margin-left: 30%;
}

.info1 {
  margin-left: 30%;
  padding-left: 10%;
  border-left: 1px solid grey;
}
.profilepicture {
  margin-bottom: 10%;
}
.border {
  border-bottom: 10px dotted gray;
  width: 20%;
  position: relative;
  margin-left: 40%;
}

@media screen and (max-width: 600px) {
  .profilepicture img {
    margin-left: auto;
    margin-right: auto;
  }
  .imgreplace {
    margin-left: 7%;
    margin-right: auto;
    border: 0px;
  }
  .profilepicture {
    flex-wrap: wrap;
  }
  .location {
    flex-wrap: wrap;
  }
  .info,
  .info1 {
    margin-left: 4%;
  }
  .info1 {
    padding-left: 0;
    border: 0;
  }
}

@media screen and (min-width: 1000px) {
  .genreandarea {
    margin-left: 20%;
  }
}

.profilepicture {
  padding-top: 4%;
}

.basicinfo {
  border: 2px solid gray;
  margin: 7% 12%;
  padding: 3%;
  border-radius: 10%;
  display: flex;
  flex-wrap: wrap;
}

.genreandarea {
  margin: 7% auto;
  padding: 3%;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
  /* box-shadow: 2px 2px; */
  z-index: 1;
}

.genre {
  border: 2px solid gray;
  padding: 5%;
  display: flex;
  margin: 3%;
  flex-direction: column;
  border-radius: 2%;
}

.category {
  border: 2px solid gray;
  padding: 5%;
  display: flex;
  margin: 3%;
  flex-direction: column;
  border-radius: 2%;
}

.area {
  border: 2px solid gray;
  padding: 5%;
  display: flex;
  margin: 3%;
  flex-direction: column;
  border-radius: 2%;
}

.singerprofile {
  /* margin-left: auto;
  margin-right: auto; */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://thumbs.dreamstime.com/z/music-notes-20648928.jpg"); */
}

button
  .MuiButtonBase-root
  .MuiIconButton-root
  .MuiAutocomplete-clearIndicator
  .MuiAutocomplete-clearIndicatorDirty {
  display: none;
}
