.profilepicture img {
  width: 300px;
  height: 300px;
  /* border-radius: 150px; */
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  margin-left: 90%;
}
.info {
  margin-left: 30%;
}

@media screen and (max-width: 600px) {
  .profilepicture img {
    margin-left: auto;
    margin-right: auto;
  }
  .profilepicture {
    flex-wrap: wrap;
  }
  .location {
    flex-wrap: wrap;
  }
  .info {
    margin-left: 4%;
  }
}

.profilepicture {
  padding-top: 4%;
}

.basicinfo {
  border: 2px solid gray;
  margin: 7% 12%;
  padding: 3%;
  border-radius: 10%;
  display: flex;
  flex-wrap: wrap;
}

.genreandarea {
  margin: 7% auto;
  padding: 3%;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
}

.genre {
  border: 2px solid gray;
  padding: 5%;
  display: flex;
  margin: 3%;
  flex-direction: column;
}

.area {
  border: 2px solid gray;
  padding: 5%;
  display: flex;
  margin: 3%;
  flex-direction: column;
}

.singerprofile {
  /* margin-left: auto;
  margin-right: auto; */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://thumbs.dreamstime.com/z/music-notes-20648928.jpg"); */
}
